<!DOCTYPE html>
<html>
<head>
    <title>Python Web Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
    <h1>Check the Weather</h1>
    
    <form method="POST">
        <input type="text" name="city" placeholder="Enter a city name" required>
        <button type="submit">Search</button>
    </form>

    <hr>

    {% if error %}
        <p style="color: red;"><strong>{{ error }}</strong></p>
    {% endif %}

    {% if temp %}
        <h2>Weather in {{ city_name }}</h2>
        <p>Temperature: {{ temp }}°C</p>
        <p>Wind Speed: {{ wind }} km/h</p>
    {% endif %}
    
    <hr>
    
    <h3>Recent Searches</h3>
    <ul>
        {% for search in history %}
            <li>{{ search.city_name }}</li>
        {% else %}
            <li>No searches yet!</li>
        {% endfor %}
    </ul> </div>
</body>
</html>